@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: url("../imagens/fundo4.png");
    background-size: cover;
    background-position: center;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(3, 3, 33);
}

.topo.scrolled {
    background-color: rgb(3, 3, 33);
    transition: 0.1s;
}

.logo {
    height: 110px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.menu {
    justify-content: center;
    flex: 1;
    display: flex;
}

.opcao {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}


a {
    text-decoration: none;
    color: #F7F8F0;
    font-weight: 500;
    font-size: 16px;
}

.menu a {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.menu a:hover {
    text-shadow: 0 0 15px #F7F8F0;
    font-weight: bold;
    font-size: 20px;
}

.menu a:hover::after {
    width: 100%;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #F7F8F0;
    transition: 0.3s;
}

.acompanhamento {
    max-width: 1200px;
    margin: 200px auto;
    padding: 20px;
}

.titulo {
    margin-left: 90px;
    font-size: 38px;
    color: #4fa5f0;
}

.descricao {
    margin-left: 90px;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tabela{
    background:#060a2b;
    border-radius:15px;
    padding:30px;
    max-width:1200px;
    margin:auto;
    color:white;
    box-shadow:0 0 40px rgba(0,0,0,0.5);
}

.cabecalho,
.linha{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr 1fr 1fr;
    align-items:center;
    padding:18px;
    gap: 30px;
}

.cabecalho{
    color:#4db3ff;
    font-weight:bold;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.linha{
    border-bottom:1px solid rgba(255,255,255,0.08);
    transition:0.2s;
}

.linha:hover{
    background:rgba(255,255,255,0.05);
}

.status{
    display:flex;
    justify-content:center;
    align-items:center;

    width:130px;
    height:32px;

    border-radius:8px;
    font-size:14px;
}

.andamento{
    background:#1f7a47;
}

.analise{
    background:#b38a1c;
}

.planejamento{
    background:#1e4c9a;
}

.nao{
    justify-content:center;
    align-items:center;
    padding: 5px;
    text-align: center;
    width:130px;
    height:32px;
    border-radius:8px;
    font-size:14px;
    background:#7a1f1f;
}

.progresso{
    display:flex;
    align-items:center;
    gap:10px;
}

.barra{
    width:100%;
    height:8px;
    background:#1b2047;
    border-radius:10px;
    overflow:hidden;
}

.valor{
    height:100%;
    background:#3cff73;
}

.valor-amarelo{
    height: 100%;
    background:#ffc400;
}

.valor-azul{
    height: 100%;
    background:#4da3ff;
}

.valor-vermelho{
    height: 100%;
    background:#ff4d4d;
}

.container-footer {
    color: #F7F8F0;
    display: inline-block;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
}

.main-footer {
    background: linear-gradient(360deg, rgb(3, 3, 33), rgb(5, 5, 54));
    color: #F7F8F0;
    padding: 40px 0;
    margin-top: 50px;
}

.row {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #F7F8F0;
}

.row h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F7F8F0;
    cursor: default;
}

.col-footer {
    list-style-type: none;
    font-size: 18px;
    padding: 20px;
    justify-content: space-between;
    font-weight: lighter;
}

.col-footer li {
    list-style-type: none;
    margin-top: 15px;
}

.col-footer i {
    margin-right: 10px;
}

.sp {
    font-weight: bold;
}

.barra {
    background: rgb(3, 3, 33);
    color: #fff;
    align-items: center;
    position: relative;
}

.logo-footer {
    text-align: center;
    justify-content: center;
}

.logo-baixo {
    height: 150px;
    margin-bottom: -50px;

}

.paragrafo-footer {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    flex: 1;
    padding-bottom: 25px;
}