@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: url("../imagens/fundo.png");
    background-size: cover;
    background-position: center;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: rgba(3, 3, 33);
}

.topo.scrolled {
    background-color: rgb(3, 3, 33);
    transition: 0.1s;
}

.logo {
    height: 110px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.menu {
    justify-content: center;
    flex: 1;
    display: flex;
}

.opcao {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}


a {
    text-decoration: none;
    color: #F7F8F0;
    font-weight: 500;
    font-size: 16px;
}

.menu a {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.menu a:hover {
    text-shadow: 0 0 15px #F7F8F0;
    font-weight: bold;
    font-size: 20px;
}

.menu a:hover::after {
    width: 100%;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #F7F8F0;
    transition: 0.3s;
}

.orcamento {
    max-width: 1200px;
    margin: 200px auto;
    padding: 20px;
}

.titulo {
    text-align: center;
    font-size: 48px;
    color: #367ebd;
    margin-bottom: 30px;
}

.descricao-orcamento {
    margin-bottom: 75px;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    text-align: center;
}

.tabela-orcamento {
    background: #020223;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(3, 3, 33);
}

.linha {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 18px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    color: #e6edf3;
}

.linha-cabecalho {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 18px 15px;
    font-weight: bolder;
    font-size: 18px;
    color: #4db3ff;
}

.linha:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: 0.2s;
    transform: scale(1.05);
}

.preco,
.prazo {
    color: #c9d1d9;
}

select {
    background: #f4f6fb;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
}

select:focus {
    outline: none;
}

.linha div {
    padding: 5px;
}

.botao-orcamento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 50px;
    padding: 15px 35px;
    background: #2f8cff;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    height: 50px;
    border: none;
    font-size: 16px;
}

.botao-orcamento:hover {
    background: #1b6ed1;
    transform: scale(1.05);
}

.hidden {
    display: none;
}
#popup {
    position: fixed;
    z-index: 1000;
}

.container-footer {
    color: #F7F8F0;
    display: inline-block;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
}

.main-footer {
    background: linear-gradient(360deg, rgb(3, 3, 33), rgb(5, 5, 54));
    color: #F7F8F0;
    padding: 40px 0;
    margin-top: -100px;
}

.row {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #F7F8F0;
}

.row h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F7F8F0;
    cursor: default;
}

.col-footer {
    list-style-type: none;
    font-size: 18px;
    padding: 20px;
    justify-content: space-between;
    font-weight: 500;
    font-family: Century Gothic, sans-serif;
}

.col-footer li {
    list-style-type: none;
    margin-top: 15px;
    color: #e6edf3;
}

.col-footer li:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.col-footer i {
    margin-right: 10px;
}

.sp {
    font-weight: bold;
}

.barra {
    background: rgb(3, 3, 33);
    color: #fff;
    align-items: center;
    position: relative;
}

.logo-footer {
    text-align: center;
    justify-content: center;
}

.logo-baixo {
    height: 150px;
    margin-bottom: -50px;

}

.paragrafo-footer {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    flex: 1;
    padding-bottom: 25px;
}