* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Century Gothic, sans-serif;
    font-weight: 500;
    background-color: #F7F8F0;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.212);
}

.logo {
    height: 110px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.topo-menu {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: -200px;
    
}

.menu a{
    position:relative;
    text-decoration:none;
    font-size:17px;
    transition: font-size 0.3s;
    color: #F7F8F0;
}

.menu a:hover{
    text-shadow: 0 0 15px #F7F8F0;
    font-weight: bold;
    font-size: 20px;
}

.menu a:hover::after{
    width:100%;
}

.menu a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#F7F8F0;
    transition:0.3s;
}

a {
    text-decoration: none;
    color: #F7F8F0;
    font-weight: 500;
    font-size: 16px;
}

.opcao {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.dev-img {
    height: 60vh;
    min-width: 100%;
    background-image: url(../imagem_gustavo/consult.jpg);
    background-position: center;
    background-size: cover;
    
}

.dev-texto {
    min-height: 60vh;
    color: #F7F8F0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), rgba(10, 45, 85, 0.158);
}

.dev-texto h1 {
    font-size: 56px;
    color: #F7F8F0;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 5vh;
}